# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Captures and debug files
temp/
debug/
*.png
*.jpg
*.jpeg
!src/assets/*.png

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo

# Distribution / packaging
build/
dist/
*.egg-info/
